/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1920px) {}

@media (min-width: 951px) and (max-width: 1366px) {
    h1 {
        margin-left: 100px;
    }
    .mod-head {
      width: 95vw;
    }
    .cont {
        width: 100%;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .cont1 {
        margin: 0;
        width: 100%;
        padding: 15px;
    }


  }

@media (min-width: 768px) and (max-width: 950px) {
  /*MODAL CADENA*/
  .mod1cad {
    flex-direction: column;
    align-items: center;
  }
  .mod-tit {
    width: 85%;
  }
  .mod1cad img {
    width: 80%;
  }    
}
  
@media (min-width: 521px) and (max-width: 767px) {
  /*MODAL CADENA*/
  .mod1 {
    flex-direction: column;
    align-items: center;
  }    
  .mod1 img {
    width: 100%;
  }
  .mod-head {
    width: 100%;
  }
  .mod-head-2 img {
    margin: auto;
    object-fit: cover;
    height: 70vh;
  }
}

/* Small devices (phones, 576px and down) */
@media (max-width: 520px) {
  p {
    font-size: 16px;
  }
  .modal {
    width: 100vw;
    margin: 0;
    padding: 0px;
  }
  .modal-content {
    width: 100vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .mod-head {
    width: 100%;
  }
  .mod1 {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px 0;
    margin: 40px 0;
  }
  .mod1 img {
    width: 100%;
  }
  .mod-head-2 {
    margin: auto;
    
  }
  .mod-head-2 img {
    margin: auto;
    object-fit: cover;
    height: 70vh;
  }
}
